<p>ADD Product</p>
<mat-card>
    <mat-list>
        <mat-list-item>
            <mat-form-field>
                <mat-label>Product Name</mat-label>
                <input matInput [(ngModel)]="product.productName" placeholder="Product Name" required/>
            </mat-form-field>
        </mat-list-item>
        <mat-list-item>
            <mat-form-field>
                <mat-label>
                    Description
                </mat-label>
                <input matInput [(ngModel)]="product.description" placeholder="Description"/>
            </mat-form-field>            
        </mat-list-item>
        <mat-list-item>
            <mat-form-field>
                <mat-label>
                    Quantity
                </mat-label>
                <input matInput [(ngModel)]="product.availableQuantity" placeholder="Quantity in  stock"/>
            </mat-form-field>            
        </mat-list-item>
        <mat-list-item>
            <mat-form-field>
                <mat-label>
                    Price
                </mat-label>
                <input matInput [(ngModel)]="product.price" placeholder="Price for each quantity"/>
            </mat-form-field>            
        </mat-list-item>
        <mat-list-item>
                <mat-label>
                    Image
                </mat-label>
                <input type="file" (change)="onFileSelected($event)"/>
        </mat-list-item>
        <mat-list-item>
            <mat-form-field>
                <!-- Browse select (click)="addProduct()" -->
                <button mat-raised-button color="primary" (click)="addProduct()">Add Product</button>
        </mat-form-field>            
        </mat-list-item>
    </mat-list>
</mat-card>