<!-- <div *ngFor="let order of orderHistoryList" style="margin: 20px;">
    <mat-card>
        <p>{{order.id}}</p>
        <img src={{order.productImage}} style="width: 20%;" />
        <p style="justify-content: center;">{{order.description}}</p>
        <p>{{order.productName}}</p>
        <p>{{order.price}}</p>
        <p>MORE OPTIONS</p>
    </mat-card>
</div> [routerLink]="['../../admin/addproduct']" -->
<button mat-raised-button color="primary" style="width: 100%; margin-top: 10px;" routerLink="../../admin/addproduct">Add new Product</button>

<table mat-table [dataSource]="productsList" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>
  <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef> Product Name </th>
      <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Product Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>
    <ng-container matColumnDef="availableQuantity">
      <th mat-header-cell *matHeaderCellDef> Available Quantity </th>
      <td mat-cell *matCellDef="let element"> {{element.availableQuantity}} </td>
    </ng-container>
  <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef> Options </th>
      <td mat-cell *matCellDef="let element">
          <!-- <button mat-button routerLink="/userinfo/{{element.id}}"><mat-icon>edit</mat-icon></button>     -->
          <button mat-button (click)="deleteProduct(element.id)"><mat-icon>delete</mat-icon></button>
          <button mat-button routerLink="../../product/{{element.id}}"><mat-icon>edit</mat-icon></button>
      </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>