<mat-grid-list cols=3>
    <mat-grid-tile *ngFor="let product of productsList">
        <mat-card >
            <!-- <p>{{product.id}}</p> -->
            <img src="assets/productImages/{{product.productImage}}" style="width: 200px; height: 120px;" routerLink="product/{{product.id}}"/>
            <!-- <p>{{product.description}}</p> -->
            <p>{{product.productName}}</p>
            <p>Rs. {{product.price}}</p>
            <button mat-raised-button color="primary" style="width: 100%;" (click)="addToCart(product.id)">Add To Cart</button>
        </mat-card>    
    </mat-grid-tile>    
</mat-grid-list>